<!DOCTYPE html>
<a href="/users/<%=@user.id%>/edit">Edit Profile</a>

<a href="/users/new">Create User</a>
<a href="/users">Find Users</a>

<a href="/restaurants/new">Create Restaurant</a>
<a href="/restaurants">Find Restaurant</a>


<br>
<h1><%= @user.user_name %></h1>
<form action="/users/<%=@user.id%>" method="POST">
    <select name="users[restaurant_id]" type="text">
        <%Restaurant.all.each do |rest|%>
            <option value="<%=rest.id%>"><%=rest.rest_name%></option>
        <%end%>
    </select>
    <button type="submit" value="add">add to my list</button>
</form>
<br>
<fieldset>
  <legend>Your Current Restaurant Wish List</legend>
      <% @user.restaurants.each do |rt| %>
      <ul><%= rt.rest_name %></ul>
      <% end %>
</fieldset>
