<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/restaurants/new">Create New Restaurant</a>
    <a href="/users/new">Create New User</a>
    <a href="/users">See All Users</a>
    <br>
    <label for="Name">Name:</label>  <%= @restaurant.rest_name %>
    <br>
    <label for="Rating">Rating:</label>  <%= @restaurant.rating %>
    <br>
    <label for="Address">Address:</label>  <%= @restaurant.address %>
    <br>
    <br>
    <form action="/restaurants/<%=@restaurant.id%>" method="POST">
        <select name="restaurants[user_id]" type="text">
            <%User.all.each do |user|%>
                <option value="<%=user.id%>"><%=user.user_name%></option>
            <%end%>
        </select>
        <button type="submit" value="add">add to my list</button>
    </form>
    <br>
    <fieldset>
      <legend>Current Users</legend>
      <% @restaurant.users.uniq.each do |us| %>
      <ul><%= us.user_name %></ul>
      <% end %>
    </fieldset>



  </body>
</html>
